// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: rgb(0, 123, 160) !important;

  &:hover {
    font-weight: bolder;
  }
}

.description {
  margin: 8px 0;
  padding: 24px;
  background-color: rgb(230, 230, 230);
  border: rgb(215, 215, 215) solid 1px;
  border-radius: 4px;
}